.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 80px;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(15, 15, 15, 0.55);
	box-shadow: 0 6px 15px #c3a14a;
	z-index: 50;
	width: 25%;
	margin: 0 auto;
	margin-top: 15px;
	padding: 0;
	border-radius: 100px;
	backdrop-filter: blur(10px);
}

.links {
	margin: 0 auto;
	max-width: 572px;
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-top: 12px;
	padding-bottom: 12px;

	& a {
		color: #f5f5f5;
		text-decoration: none;
		font-weight: bolder;
		font-size: 12px;
		font-style: normal;
		line-height: 20px;
		position: relative;
		padding: 2px 5px;
	}

	& a::after {
		content: "";
		position: absolute;
		inset: 0;
		border-bottom: 2px solid #c3a14a;
		border-top: 2px solid #c3a14a;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 0.3s ease;
	}

	& a:hover::after {
		transform: scaleX(1);
	}
}
