.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 10rem;
  z-index: 50;
}

.nav {
  position: relative;
  width: 100%;
  background: none;
  box-shadow: none;
  z-index: 50;
  border-radius: 0;
  backdrop-filter: none;
}

.links {
  margin: 0;
  max-width: none;
  display: flex;
  height: 95vh;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  padding: 20px 0;

  & a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.9rem;
    line-height: 20px;
    position: relative;
    padding: 2px 5px;
    text-align: center;
    width: fit-content;
    align-self: center;
  }

  & a::after {
    content: "";
    position: absolute;
    inset: 0;
    border-top: 2px solid #c3a14a;
    border-bottom: 2px solid #c3a14a;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  & a:hover::after {
    transform: scaleX(1);
  }
}
