@font-face {
	font-family: "MonaSpaceNeon";
	src: url("/fonts/Monaspace-Neon/MonaspaceNeonNF-Regular.woff2");
}

body {
	margin: 0;
	padding: 0;
	background-color: #0f0f0f;
}

* {
	font-family: "MonaSpaceNeon", monospace;
	color: #f5f5f5;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 10px;
}
